.ct-loader {
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.kb-col {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    border: 3px solid #FFF;
}

.kb-col-content {
    height: 100%;
    width: 100%;
}

.kb-col-header {}

.kb-col-header-content {
    border-radius: 5px;
    border-top: 5px solid #AAA;
    height: 30px;
    margin: 5px 5px 0px 5px;
}

.kb-col-header-content .title {
    position: relative;
    left: 15px;
    color: #000;
    font-size: 1.3em;
}

.kb-col-inner-header {
    display: none;
}

.kb-col-inner-header .title {
    position: relative;
    color: #000;
    font-size: 1.3em;
    margin: 5px 10px 0px 10px;
}

.kb-row {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.kb-item-region {
    background: #f7f7f7;
    min-height: 30px;
}

.kb-group-region {}

.kb-card {

    display: inline-block;
    width: 100%;

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.44);
    border-radius: 1px;
    color: rgba(0, 0, 0, 0.87);
    transition: all 0.4s ease;

    background: #fafafa;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.kb-card-draggable {
    cursor: grab;
}

.kb-card:hover {
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.kb-card .card-header {
    float: left;
    text-align: center;
    margin: 6px 0px 6px 6px;
    box-shadow: 0 12px 20px -10px rgba(230, 230, 230, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(230, 230, 230, 0.2);
    transition: all 1.0s ease;
}

.kb-card .card-header i {
    font-size: 18px;
    line-height: 28px;
    width: 28px;
    height: 28px;
    color: white;
    transition: all 1.0s ease;
}

.kb-card .card-content {
    text-align: left;
    padding: 0 6px;
    overflow: hidden;
    min-height: 40px;
    display: table;
}

.kb-card .title {
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
}

.kb-card .card-footer {
    margin: 0 20px 6px;
    padding-top: 3px;
    border-top: 1px solid #eeeeee;
    color: #999999;
}

.kb-card .card-footer > div {
    display: inline-block;
    width: 100%;
}

.kb-new-item-region {
    clear: both;
}

.kb-item-container {
    height: 100%;
    min-height: 10px;
    padding: 5px;
}

.kb-item-container .kb-card {
    float: left;
    margin: 5px 5px;
    min-height: 0.125rem;
    width: calc(100% - 10px);
    max-width: 200px;
}

.kb-item-container-with-new-card {
    height: calc(100% - 40px);
}

.kb-new-card {
    float: left;
    text-align: center;
    margin: 3px 10px 10px 10px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #55c555;
}

.kb-new-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.kb-new-card i {
    font-size: 18px;
    line-height: 28px;
    width: 28px;
    height: 28px;
    color: white;
}

.kb-group-region .card-header {
    background: #39a6da;
}

.kb-collapsable {
    float: left;
    text-align: center;
    margin: 6px 1px 6px 7px;
    cursor: pointer;
}

.kb-collapsable i {
    font-size: 15px;
    line-height: 28px;
    width: 18px;
    /*height: 28px;*/
    color: #000;
}

.kb-collapsable:hover {
    margin: 5px 0px 5px 6px;
    border: 1px solid #eee;
}

.kb-collapsed {
    width: 100% !important;
}

/*
@media only screen and (max-width: 1279px) {

    .kb-item-region,
    .kb-group-region,
    .kb-col-header {
        width: 100% !important;
    }

    .kb-card {
        max-width: none !important;
    }
}
*/

@media only screen and (max-width: 719px) {
    .kb-row {
        display: -ms-inline-box;
        display: -webkit-inline-box;
        display: inline-block;
    }

    .kb-col-header {
        display: none;
    }

    .kb-item-region,
    .kb-group-region,
    .kb-col-header {
        width: 100% !important;
    }

    .kb-card {
        max-width: none !important;
    }

    .kb-item-region {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }

    .kb-col-content {
        border-radius: 5px;
        border-left: 5px solid #AAA;
    }

    .kb-col-inner-header {
        display: inline-block;
    }

    .kb-group-region {
        border: none;
    }

    .kb-group-region > div {
        margin: 3px !important;
        width: calc(100% - 6px);
        border-radius: 5px;
        border-top: 5px solid #aaa;
        border-left: 5px solid #aaa;
    }

    .kb-new-group-region > div {
        border-top: none;
    }

    .kb-group-region .kb-card {
        display: inherit;
    }

    .kb-row::after {
        margin-bottom: 20px;
    }
}

/* Dragula CSS  */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
